{% extends "Home/mainmenu.html" %} <!-- hereda formato (header y footer en este caso) de template mainmenu.html -->
{% load static %} <!-- carga la carpeta static para acceder a los archivos que estén dentro de ella -->

{% block title %} Fruver - Gastos {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'Gastos/styles/gastos.css' %}"> <!-- referencia a la plantilla .css que corresponda -->
{% endblock stylesheet %}

{% block content %}
    <h1 class="info">Registro de Gastos</h1>
    <h2 class="info">Gestione los gastos de la empresa</h2>
    <p class="info">Puede filtrar los gastos que desea ver por semana, mes, o un rango personalizado usando los siguientes botones<br>
    (seleccione una fecha, y luego presione el botón para ejecutar el filtro):</p>
    <div class="container0">
        <div class="estados">
            <img src="{% static 'Gastos/images/allgastos.png' %}" alt="Ver todos" width="65" height="65"/>
            <a href="{% url 'fruver-gastos' %}"><button type="button" class="filtros">Todos los Gastos</button></a>
        </div>
        <div class="estados">
            <img src="{% static 'Gastos/images/semana.png' %}" alt="Ver por semana" width="65" height="65"/>
            <form action="{% url 'fruver-filtrargastos' %}" method="POST">
                {% csrf_token %}
                <input type="week" name="week" id="week" min="2022-W01" max="2022-W52" required><br>
                <button type="submit" class="filtros">Ver semana</button>
            </form>
        </div>
        <div class="estados">
            <img src="{% static 'Gastos/images/mes.png' %}" alt="Ver por mes" width="65" height="65"/>
            <form action="{% url 'fruver-filtrargastos' %}" method="POST">
                {% csrf_token %}
                <input type="month" name="month" id="month" min="2022-01" max="2022-12" required><br>
                <button type="submit" class="filtros">Ver mes</button>
            </form>
        </div>
        <div class="estados">
            <img src="{% static 'Gastos/images/calendario.png' %}" alt="Rango personalizado" width="65" height="65"/>
            <form action="{% url 'fruver-filtrargastos' %}" method="POST">
                {% csrf_token %}
                <span style="color:white" font-size="1.2rem">Desde:</span> <input type="date" name="start" id="start" min="2022-01-01" max="2022-12-30" required>&nbsp;
                <span style="color:white" font-size="1.2rem">Hasta:</span> <input type="date" name="end" id="end" min="2022-01-02" max="2022-12-31" required><br>
                <button type="submit" class="filtros">Ver rango de fechas</button>
            </form>
        </div>
    </div>
    <div class="button-container">
        <button type="button" id="creargasto">Añadir Registro de Gastos</button> <!-- muestra pop up para ingresar datos y crear nueva fila de gasto productos -->
    </div>
    <div class="container1">
        <div class="fila-titulos">
            <div class="titulo-columnas" id="fecha">
                <h4>Fecha</h4>
            </div>
            <div class="titulo-columnas" id="frutas">
                <h4>Frutas</h4>
            </div>
            <div class="titulo-columnas" id="verduras">
                <h4>Verduras</h4>
            </div>
            <div class="titulo-columnas" id="bolsas">
                <h4>Bolsas</h4>
            </div>
            <div class="titulo-columnas" id="subtotal">
                <h4>Subtotal</h4>
            </div>
            <div class="titulo-columnas" id="otrosgastos">
                <h4>Otros Gastos</h4>
            </div>
            <div class="titulo-columnas" id="totaldia">
                <h4>Total del Día</h4>
            </div>
        </div>
        <div class="lista-pedidos">
            <div class="fila-datos">
                {% for gasto in gastos %}
                    <div class="datos">
                        <div class="datospedido" id="date">
                            <p>{{ gasto.fecha_gasto }}</p>
                        </div>
                        <div class="datospedido" id="fruits">
                            <p>${{ gasto.monto_frutas }}</p>
                        </div>
                        <div class="datospedido" id="vegetables">
                            <p>${{ gasto.monto_verduras }}</p>
                        </div>
                        <div class="datospedido" id="bags">
                            <p>${{ gasto.monto_bolsas }}</p>
                        </div>
                        <div class="datospedido" id="total-products">
                            <p>${{ gasto.total_gastoproductos }}</p>
                        </div>
                        <div class="datospedido" id="total-others">
                            <p>${{ gasto.total_otrosgastos }}</p>
                        </div>
                        <div class="datospedido" id="total-day">
                            <p>${{ gasto.total_dia }}</p>
                        </div>
                        <a href="{% url 'fruver-editargasto' gasto.id %}" id="edit"><button type="button">Editar</button></a>
                        <a href="#" id="delete" onclick="eliminarGasto({{ gasto.id }})"><button type="button">Eliminar</button></a>
                        <a href="#" id="add-others" onclick="agregarOtroGasto({{gasto.id}})"><button type="button">Agregar Otros Gastos</button></a>
                        <a href="{% url 'fruver-detalleotrosgastos' gasto.id %}" id="view-details"><button type="button">Detalle Otros Gastos</button></a>
                    </div>
                    <div class="popup-otrogasto" id="{{gasto.id}}">
                        <div class="mainbox">
                            <div class="gastobox">
                                <h3 class="nuevo-gasto-titulo">Ingrese el detalle del gasto</h3><br><br><br>
                                <form action="{% url 'fruver-ingresarotrosgastos' gasto.id %}" method="POST">
                                    {% csrf_token %}
                                    <label for="nombre_otrogasto">Nombre del gasto:</label><br>
                                    {{form2.nombre_otrogasto}}<br>
                                    <label for="monto_otrogasto">Monto del gasto:</label><br>
                                    {{form2.monto_otrogasto}}<br>
                                    <label for="descripcion_otrogasto">Descripción del gasto:</label><br>
                                    {{form2.descripcion_otrogasto}}<br><br>
                                    <!-- botón para registrar al usuario en el sistema -->
                                    <button type="submit" id="submit">Añadir a Otros Gastos</button>
                                    <!-- botón para cancelar la creación de usuario vendedor -->
                                    <button type="button" id="cancelar-otrogasto" onclick="cancelarOtroGasto({{gasto.id}})">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>      
        </div>
    </div>
{% endblock content %}


{% block popup %}
    <div class="popup-creargasto">
        <div class="mainbox">
            <div class="gastobox">
                <h3 class="nuevo-gasto-titulo">Ingrese los gastos de productos</h3><br><br><br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="fecha">Fecha de gastos:</label><br>
                    <input autofocus type="date" name="fecha" required="True"><br><br>
                    <label for="monto_frutas">Gasto en frutas:</label><br>
                    {{form.monto_frutas}}<br><br>
                    <label for="monto_verduras">Gasto en verduras:</label><br>
                    {{form.monto_verduras}}<br><br>
                    <label for="monto_bolsas">Gasto en bolsas:</label><br>
                    {{form.monto_bolsas}}<br><br><br><br>
                    <!-- botón para registrar al usuario en el sistema -->
                    <button type="submit" id="submit">Añadir Gastos</button>
                    <!-- botón para cancelar la creación de usuario vendedor -->
                    <button type="button" id="cancelar-creargasto">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'Gastos/scripts/gastos.js' %}"></script>    
{% endblock popup %}


<!-- block para mensajes y alertas pop-up -->
{% block messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>
                Swal.fire({
                        "title": "{{message}}",
                        "icon": "success",
                        "confirmButtonColor": "green"
                })
            </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <script>
                Swal.fire({
                        "title": "{{message}}",
                        "icon": "warning",
                        "confirmButtonColor": "goldenrod"
                })
            </script>
        {% endif %}
    {% endfor %}
{% endblock messages %}