{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Venta de frutas y verduras a domicilio"> <!-- para los resultados de búsqueda en google, bing, etc. -->
    <meta name="robots" content="index,follow"> <!-- para indexar con los buscadores -->
    <title> {% block title %} Fruver - Home Page {% endblock title %} </title> <!-- título, aparece en las pestañas y ventanas. Modificable en cada plantilla html -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> <!-- la fuente a utilizar -->
    <link rel="icon" href="{% static 'Home/images/favicon.ico' %}"/> <!-- ícono del sitio web, aparece en favoritos, etc. -->
    <link rel="stylesheet" href="{% static 'Home/styles/base.css' %}"> <!-- referencia a la plantilla .css que corresponda -->
    {% block stylesheet %}{% endblock stylesheet %} <!-- bloque para referenciar los .css de cada plantilla html que herede de esta base -->
</head>
<body>
    <header>
        <nav>
            <!-- links de la barra de navegación: frutas, verduras, carrito, login -->
            <div class="navigation">
                <div class="link0">
                    <a class="logo" href="{% url 'fruver-home' %}"><img src="{% static 'Home/images/navbar/logo.png' %}" alt="Fruver logo" width="320" height="150" ></a>
                </div>
                <div class="link1">
                    <img src="{% static 'Home/images/navbar/frutas.png' %}" alt="Ver frutas" width="65" height="65"/>
                    <a class="frutas" href="/pedidos/frutas">Frutas</a>
                </div>
                <div class="link2">
                    <img src="{% static 'Home/images/navbar/verduras.png' %}" alt="Ver verduras" width="65" height="65"/>
                    <a class="verduras" href="/pedidos/verduras">Verduras</a>
                </div>
                <div class="link3">
                    <img src="{% static 'Home/images/navbar/cart.png' %}" alt="Ver carrito" width="65" height="65"/>
                    <a class="carrito" href="/pedidos/carrito">Mi carrito</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="link4">
                        <img src="{% static 'Home/images/navbar/profile.png' %}" alt="Mi Perfil" width="65" height="65">
                        <a class="logout" href="/clientes/perfilcliente">Mi Perfil</a>
                    </div>
                    <div class="link4">
                        <img src="{% static 'Home/images/navbar/exit.png' %}" alt="Cerrar sesión" width="65" height="65">
                        <a class="logout" href="/salir">Cerrar Sesión</a>
                    </div>
                {% else %}
                    <div class="link4">
                        <img src="{% static 'Home/images/navbar/user.png' %}" alt="Iniciar sesión" width="65" height="65">
                        <a class="login"  href="/acceso">Iniciar Sesión</a>
                    </div> 
                {% endif %}
            </div>
        </nav>
    </header><br>

    <main>
        {% block content %}{% endblock content %} <!-- bloque para agregar contenido de cada plantilla html que herede de esta base -->
    </main><br>

    <footer>
        <br>
        <div class="datosempresa">
            <a>Visite Nuestra Tienda: Av. Grecia #130, Ñuñoa, Santiago.</a>
            <a>Teléfono: +569 7981 3462</a>
            <a>E-mail: contacto@fruver.cl</a>
        </div>
        <p>Empresa especializada en la venta al por menor de productos frutícolas y hortalizas, servicios de delivery a todo Santiago y atención personalizada en local.</p>
        <p>Fruver® 2022. Todos los derechos reservados.</p>
    </footer>

    <!-- se importa la librería SweetAlert2 para emitir alertas y mensajes pop-up, y se hereda al resto de plantillas -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block messages %}{% endblock messages %}

</body>
</html>