{% extends "Home/mainmenu.html" %} <!-- hereda formato (header y footer en este caso) de template mainmenu.html -->
{% load static %} <!-- carga la carpeta static para acceder a los archivos que estén dentro de ella -->

{% block title %} Fruver - Datos Bancarios {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'Home/styles/datosbanco.css' %}"> <!-- referencia a la plantilla .css que corresponda -->
{% endblock stylesheet %}

{% block content %} <!-- agrega las sgtes. líneas de código dentro del bloque a la plantilla -->
    <h1>Datos bancarios</h1>
    <h2>Ingrese o actualice sus datos de cuenta bancaria para recibir transferencias de clientes.<br>
        Esta información se mostrará a los clientes que realicen pedidos pagando vía transferencia.
    </h2>
    <div class="alignment"> <!-- div para centrar el databox en la página -->
        <div class="databox"> <!-- div que almacena los inputs y el botón de login -->
            <h3>Rellene los campos a continuación:</h3><br>
            <form action="" method="POST" > <!-- method="post" enctype="application/x-www-form-urlencoded" -->
                {% csrf_token %}
                <label for="name">Ingrese su nombre y apellido</label><br>
                <!-- campo para el nombre -->
                {{form.titular}}<br><br>
                <label for="rut">Ingrese su RUT</label><br>
                {{form.rut}}<br><br>
                <label for="banco">Ingrese el nombre de su banco</label><br>
                {{form.banco}}<br><br>
                <label for="cuenta">Ingrese el tipo de cuenta</label><br>
                {{form.tipo_cuenta}}<br><br>
                <label for="numerocuenta">Ingrese el número de su cuenta</label><br>
                {{form.numero_cuenta}}<br><br>
                <label for="email">Ingrese su correo electrónico</label><br>
                {{form.email}}<br><br>
                <p>Última modificación hecha por:<br>{{cuenta.vendedor.nombre_usuario}} {{cuenta.vendedor.apellido_usuario}}</p><!-- el {{fecha}} a las {{hora}} hrs. -->
                <button type="submit" id="submit">Guardar Datos</button>
            </form>
            <a href="/mainmenu"><button type="button">Volver al menú principal</button></a>
        </div>
    </div><br>
{% endblock content %}

<!-- muestra mensaje desde la view cuando se guardan los datos -->
{% block messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                "title": "Cuenta Actualizada",
                "text": "{{message}}",
                "icon": "success",
                "confirmButtonColor": "green"
            })
        </script>
    {% endfor %}
{% endblock messages %}