{% extends "Home/base.html" %} <!-- hereda formato (header y footer en este caso) de template base.html -->
{% load static %} <!-- carga la carpeta static para acceder a los archivos que estén dentro de ella -->

{% block title %} Fruver - Registro {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'Home/styles/registro.css' %}"> <!-- referencia a la plantilla .css que corresponda -->
{% endblock stylesheet %}

{% block content %} <!-- agrega las sgtes. líneas de código dentro del bloque a la plantilla -->
    <h1>Registro de usuario</h1>
    <h3>Ingrese sus datos para crear una cuenta de usuario</h3>
    <p>Debe llenar todos los campos correctamente, ya que esta información será utilizada para la entrega de pedidos en su domicilio.</p>
    <div class="mainbox"> <!-- div para centrar el loginbox en la página -->
        <div class="signupbox"> <!-- div que almacena los inputs de datos, lista de comunas y el botón de registro de usuario -->
            <form action="" method="POST"> <!-- formulario con inputs y etiquetas, para ingresar datos y registrar al usuario en el sistema -->
                {% csrf_token %} <!-- this is for django to handle the data being submited -->
                <!-- div que contiene los primeros 4 inputs del formulario -->
                <div class="box1"> 
                    <div class="box1-1">
                        <label for="firstname">E-mail:</label><br>
                        <label for="lastname">Nombre:</label><br>
                        <label for="password1">Apellido:</label><br>
                        <label for="password2">Teléfono:</label><br>
                    </div>
                    <div class="box1-2">
                        <!-- campo para el nombre -->
                        {{form.email_usuario}}<br>
                        <!-- campo para el apellido -->
                        {{form.nombre_usuario}}<br>
                        <!-- campo para la contraseña -->
                        {{form.apellido_usuario}}<br>
                        <!-- campo para la confirmación de contraseña -->
                        {{form.telefono_usuario}}<br>
                    </div>
                </div>
                <!-- div que contiene los 2 últimos inputs del formulario y la lista de comunas -->
                <div class="box2">
                    <div class="box2-1">
                        <label for="address">Contraseña:</label><br>
                        <label for="email">Confirme:</label><br>
                        <label for="phone">Dirección:</label><br>
                        <label for="comuna">Comuna:</label><br>
                    </div>
                    <div class="box2-2">
                        <!-- campo para la dirección del usuario -->
                        {{form.password1}}<br>
                        <!-- campo para el correo electrónico -->
                        {{form.password2}}<br>
                        <!-- campo para el teléfono del usuario -->
                        {{form.domicilio_usuario}}<br>
                        <!-- lista desplegable (combobox) para seleccionar comuna dentro de la provincia de santiago -->
                        {{form.comuna}}<br>
                    </div>
                </div>
                <div class="box3">
                    <!-- botón para registrar al usuario en el sistema -->
                    <button type="submit" id="submit">Crear Cuenta de Usuario</button>
                </div>
            </form>
        </div>
    </div><br>
    <!-- <div>
       <p class="red">{{form.errors.values}}</p> 
    </div> -->

    <div class="registro">
        <h2>Importante</h2>
        <p>Al crear una cuenta de usuario, estará enviando su información para ser administrada con máxima<br>
           confidencialidad por Fruver. De esta forma, se asegura un servicio eficaz en la entrega de los pedidos que usted realice.</p>
    </div>

    <script>
        /* Se agregan los placeholders con javascript y se comienza los queries
        en índice 1 porque CSRF_token es el índice 0
        (se le considera un input field)*/

        //Query en todos input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='ej: micorreo@mail.com';
        form_fields[2].placeholder='ej: Juan';
        form_fields[3].placeholder='ej: Pérez';
        form_fields[4].placeholder='ej: 56944441111';
        form_fields[5].placeholder='Letras y números mín. 8';
        form_fields[6].placeholder='Reingrese su contraseña';
        form_fields[7].placeholder='Nueva Av. 561';


        for (var field in form_fields){	
        form_fields[field].className += 'form-control'}

        var select_field = document.getElementsByTagName('select')
        select_field.className = 'form-control'
    </script>
{% endblock content %}

<!-- accedemos al atributo errors de la clase Form (viene con Django). Este atributo es un diccionario,
    cuyas keys son el nombre del campo dónde ocurrió el error, y los values son c/u una lista de strings que representan los errores,
    ya que cada campo podría tener más de 1 tipo de error -->
{% block messages %}
    {% if form.errors %}
        {% for error in form.errors.values %}
            {% for message in error %}
                <script>
                    Swal.fire({
                            "title": "{{message}}",
                            "icon": "error",
                            "confirmButtonColor": "firebrick"
                    })
                </script>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock messages %}