{% extends "Home/base.html" %} <!-- hereda formato (header y footer en este caso) de template base.html -->
{% load static %} <!-- carga la carpeta static para acceder a los archivos que estén dentro de ella -->

{% block title %} Fruver - Actualizar Datos {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'Clientes/styles/actualizardatos.css' %}"> <!-- referencia a la plantilla .css que corresponda -->
{% endblock stylesheet %}

{% block content %} <!-- agrega las sgtes. líneas de código dentro del bloque a la plantilla -->
    <h1>Actualizar Datos Personales</h1>
    <h3>En esta sección puede editar sus datos personales. Esta información es utilizada por Fruver para gestionar sus pedidos.<br>
        Nota: la contraseña de una cuenta es inmutable, si desea cambiarla, debe crear una nueva cuenta de usuario.
    </h3>
    <div class="alignment"> <!-- div para centrar el databox en la página -->
        <div class="databox"> <!-- div que almacena los inputs y el botón de login -->
            <h3>Ingrese los datos que desea actualizar:</h3>
            <form action="" method="post" id="updatedata"> <!-- method="post" enctype="application/x-www-form-urlencoded" -->
                {% csrf_token %}
                <label for="firstname">Nombre:</label><br>
                <!-- campo para el nombre -->
                {{form.nombre_usuario}}<br>
                <label for="lastname">Apellido:</label><br>
                <!-- campo para el apellido -->
                {{form.apellido_usuario}}<br>
                <label for="address">Dirección:</label><br>
                <!-- campo para la dirección del usuario -->
                {{form.domicilio_usuario}}<br>
                <label for="email">E-mail:</label><br>
                <!-- campo para el correo electrónico -->
                {{form.email_usuario}}<br>
                <label for="phone">Teléfono:</label><br>
                <!-- campo para el teléfono del usuario -->
                {{form.telefono_usuario}}<br>
                <label for="comuna">Comuna:</label><br>
                <!-- lista desplegable (combobox) para seleccionar comuna dentro de la provincia de santiago -->
                {{form.comuna}}<br>
            </form>
            <div class="botones">
                <button type="submit" id="submit" form="updatedata">Guardar Datos</button>
                <a href="/clientes/perfilcliente"><button type="button" id="cancel">Cancelar</button></a>
            </div>
        </div>
    </div><br>
{% endblock content %}