{% extends "Home/base.html" %} <!-- hereda formato (header y footer en este caso) de template base.html -->
{% load static %}

{% block title %} Fruver - Mi Carrito {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'Pedidos/styles/carrito.css' %}"> <!-- referencia a la plantilla .css que corresponda -->
{% endblock stylesheet %}

{% block content %} <!-- agrega las sgtes. líneas de código dentro del bloque a la plantilla -->
    <h1>Carrito de Compras</h1>
    
    <section class="productoss" >
        {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <div class="producto">
                <div class="box1">
                    <img src="{{value.imagen}}" alt={{value.nombre}} width="120" height="120">
                </div>
                <div class="box2">
                    {{value.nombre}}<br>
                    <a href="{% url 'fruver-restarproducto' value.producto_id %}"><button class="sub">–</button></a>
                    {{value.cantidad}} 
                    {% if value.modo_venta == 'Kg' %}
                        {{value.modo_venta}}
                    {% elif value.modo_venta == 'Unidad'%} <!-- diferenciamos cuando haya 1 o más de 1 producto para mostrar "unidad" o "unidades" -->
                        {% if value.cantidad == 1 %}
                            {{value.modo_venta}}
                        {% elif value.cantidad > 1 %}
                            {{value.modo_venta}}es
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'fruver-sumarproducto' value.producto_id %}"><button class="add">+</button></a><br>
                    <p>Subtotal: ${{value.subtotal}}</p>
                    <form action="{% url 'fruver-eliminarproducto' value.producto_id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value={{value.cantidad}} name="cantidad">
                        <button type="submit" class="quitardecarrito">Quitar del carrito</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h2 id="emptycart">Carrito Vacío</h2>
        {% endif %}
    </section>
    <section>
        <h2 id="totalorder">Total: ${{total_pedido}}</h2>
        <!-- <a href="{% url 'fruver-limpiarcarrito' %}"><button>Limpiar Carrito</button></a> -->
        {% if total_pedido > 0 %} <!-- muestra el botón hacer pedido sólo cuando el carrito contiene items -->
            <a href="{% url 'fruver-hacerpedido' %}"><button class="botonpedido"><span>Hacer Pedido</span></button></a>
        {% endif %}
    </section>
{% endblock content %}

{% block messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>
                Swal.fire({
                        "title": "{{message}}",
                        "text": "Puede ver el estado y detalle de su pedido accediendo a la sección 'Mis Pedidos', dentro de su perfil de usuario.",
                        "icon": "success",
                        "confirmButtonColor": "green"
                })
            </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>
                Swal.fire({
                        "title": "{{message}}",
                        "text": "No queda stock suficiente de este producto",
                        "icon": "error",
                        "confirmButtonColor": "firebrick"
                })
            </script>
        {% endif %}
    {% endfor %}
{% endblock messages %}
