
/*cuerpo de la página*/
main {
    background-color: lightgoldenrodyellow;
    border: solid 0.2rem azure;
    text-align: center;
    color: black;
}

/*contenedor para el loginbox, así se lo puede alinear al centro de la página*/
.mainbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*contenedor para los inputs y botón de login*/
.loginbox {
    background-color: rgb(218, 214, 165);
    border: solid 0.2rem azure;
    width: 50rem;
    height: 20rem;
}

button {
    padding: 1em 1.5em;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    font-weight: 500;
    color: #000;
    background-color: rgb(221, 221, 221);
    border: solid 0.1rem grey;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
button:hover {
    background-color: olivedrab;
    box-shadow: 0px 15px 20px rgba(85, 107, 47, 0.5);
    color: #fff;
    transform: translateY(-7px);
   }
   
button:active {
    transform: translateY(-1px);
   }