
body {
    font-family: 'Poppins', sans-serif;
    background-color: #a5dd65;
}

header {
    background-color: rgb(61, 112, 3);
    border: solid 0.2rem azure;
}

header a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
}

header a:hover {
    color: #c6eb41;
}

/*barra de navegación con links ordenados en fila*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*links de la nav bar ordenados en columnas*/
.link1, .link2, .link3, .link4 {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.frutas, .verduras, .carrito, .login {
    font-size: 2.5rem;
}

footer {
    background-color: rgb(61, 112, 3);
    border: solid 0.2rem azure;
    text-align: center;
    color: white;
}

