main {
    background-color: rgba(216, 217, 218, 0.712);
    border: solid 0.2rem azure;
    text-align: center;
    color: black;
    
}

/*container con los submenús y botones de cta. bancaria y creación de vendedor*/
.alignment {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*divs para los submenús*/
.databox {
    margin: 1rem;
    width: 30%;
    height: 40%;
    background-color: rgb(184, 184, 184);
    border: solid 0.2rem azure;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

label {
    margin: 15rem;
}

/* From uiverse.io by @aasisodiya */
button {
    background-color: rgb(238, 238, 238);
    margin: 1rem 10rem 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    color: rgb(3, 68, 112);
    cursor: pointer;
   }
   
button:active {
    color: white;
    transform: translateY(0.2rem);
   }
   
button:hover:not(:disabled) {
    background: rgb(3, 68, 112);
    color: white;
    text-shadow: 0.2rem #b4b7bc;
   }
   
button:disabled {
    cursor: auto;
    color: grey;
   }