
main {
    background-color: lightgoldenrodyellow;
    border: solid 0.2rem azure;
    text-align: center;
    color: black;
}

/*container con los 4 pasos para comprar*/
.container1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

/*divs para los 4 pasos*/
.box1, .box2, .box3, .box4 {
    margin: 0.2rem;
    width: 20%;
    height: 20%;
    background-color: rgb(255, 255, 245);
}

/*imagen con detalles de los servicios de delivery*/
#details {
    align-items: center;
    justify-content: center;
    margin-right: 6.6rem;
}