{% extends "Home/mainmenu.html" %} <!-- hereda formato (header y footer en este caso) de template mainmenu.html -->
{% load static %} <!-- carga la carpeta static para acceder a los archivos que estén dentro de ella -->

{% block title %} Fruver - Reporte de Ventas {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'Reportes/styles/reporteventas.css' %}"> <!-- referencia a la plantilla .css que corresponda -->
{% endblock stylesheet %}

{% block content %}
    <h1 class="info">Reporte de Ventas</h1>
    <div class="contenidos">
        <section class="cliente">
            <h2 id="subtitle1">Para el período del {{inicio}} al {{fin}}</h2>
            <div class="datos">
                <div class="cash">
                    <h4>Pagos en Efectivo</h4>
                    <p>Cantidad de Pagos en Efectivo: {{cantidad_efectivo}}</p>
                    <p>Monto de Pagos en Efectivo: ${{total_efectivo}}</p>
                    <p>Proporción de Pagos en Efectivo: %{{porcentaje_efectivo}}</p>
                </div>
                <div class="transfer">
                    <h4>Pagos con Transferencia</h4>
                    <p>Cantidad de Transferencias: {{cantidad_transferencias}}</p>
                    <p>Monto de Transferencias: ${{total_transferencias}}</p>
                    <p>Proporción de Transferencias: %{{porcentaje_transferencias}}</p>
                </div>
                <div class="card">
                    <h4>Pagos con Tarjeta de Crédito/Débito</h4>
                    <p>Cantidad de Pagos con Tarjeta: {{cantidad_tarjetas}}</p>
                    <p>Monto de Pagos con Tarjeta: ${{total_tarjetas}}</p>
                    <p>Proporción de Pagos con Tarjeta: %{{porcentaje_tarjetas}}</p>
                </div>
                <div class="summary">
                    <h4>Global</h4>
                    <p>Cantidad de Transacciones del Período: {{cantidad_ventas}}</p>
                    <p style="font-weight: bold;">Total Ventas del período: ${{total_ventas}}</p>
                </div>
            </div>
        </section>
    </div>
    <section class="volver">
        <a href="{% url 'fruver-elegirfecha' 'ventas' %}"><button type="button">Volver a Selección de Fechas</button></a>
        <button type="submit" form="pdf">Generar Documento PDF</button>
        <form action="{% url 'fruver-pdfreporte' 'ventas' %}" method="POST" id="pdf">
            {% csrf_token %}
            <input type="hidden" name="title" value="Reporte de Ventas">
            <input type="hidden" name="subtitle" value="Para el período del {{inicio}} al {{fin}}">
            <input type="hidden" name="cash-title" value="Pagos en Efectivo">
            <input type="hidden" name="cash-quantity" value="Cantidad de Pagos en Efectivo: {{cantidad_efectivo}}">
            <input type="hidden" name="cash-amount" value="Monto de Pagos en Efectivo: ${{total_efectivo}}">
            <input type="hidden" name="cash-percentage" value="Proporción de Pagos en Efectivo: %{{porcentaje_efectivo}}">
            <input type="hidden" name="transfer-title" value="Pagos con Transferencia">
            <input type="hidden" name="transfer-quantity" value="Cantidad de Transferencias: {{cantidad_transferencias}}">
            <input type="hidden" name="transfer-amount" value="Monto de Transferencias: ${{total_transferencias}}">
            <input type="hidden" name="transfer-percentage" value="Proporción de Transferencias: %{{porcentaje_transferencias}}">
            <input type="hidden" name="card-title" value="Pagos con Tarjeta de Crédito/Débito">
            <input type="hidden" name="card-quantity" value="Cantidad de Pagos con Tarjeta: {{cantidad_tarjetas}}">
            <input type="hidden" name="card-amount" value="Monto de Pagos con Tarjeta: ${{total_tarjetas}}">
            <input type="hidden" name="card-percentage" value="Proporción de Pagos con Tarjeta: %{{porcentaje_tarjetas}}">
            <input type="hidden" name="period-transactions" value="Cantidad de Transacciones del Período: {{cantidad_ventas}}">
            <input type="hidden" name="period-total" value="Total Ventas del período: ${{total_ventas}}">
        </form>
    </section>
{% endblock content %}
