
main {
    background-color: lightgoldenrodyellow;
    border: solid 0.2rem azure;
    text-align: center;
    color: black;
}

/*título Frutas*/
h1 {
    background-color: goldenrod;
    color: white;
    margin-top: 0rem;
    text-shadow: 1px 1px 1px black;
}

/*etiqueta sobre lista desplegable*/
label {
    font-size: 1.5rem;
}

/*lista desplegable para elegir orden de productos (precio, A-Z, stock)*/
select {
    margin: 0.5rem;
    font-size: 1.3rem;
    border: solid 0.1rem grey;
    border-radius: 2rem;
    font-size: 1rem;
    letter-spacing: 0.09rem;
    padding: 0.8em 1.2em;
    color: black;
    background-color: rgb(221, 221, 221);
}

select:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: goldenrod;
    border: solid 0.1rem white;
    text-shadow: 1px 1px 1px black;
}

/*cuerpo de página con listado de productos, ordenados en filas*/
.productoss {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*producto individual, contenido interno ordenado en fila (box1, box, box3)*/
.producto {
    background-color: rgb(255, 255, 245);
    width: 50rem;
    height: 25rem;
    margin: 0.5rem;
    display: flex;
}

/*3 items internos de .producto, c/u ordenado en columna*/
.box1 {
    display: flex;
    flex-flow: column wrap;
}

.box2 {
    display: flex;
    flex-flow: column wrap;
}

.box3 {
    margin: 1rem 1rem;
    font-size: 1rem;
}

/*etiqueta sobre el input de cantidad Kg/unidades*/
.cantidad {
    font-size: 1.1rem;
}


/* botón para ordenar los items */
.order {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    padding: 0.7em 1.2em;
    display: inline-block;
    border: solid 0.1rem grey;
    border-radius: 2rem;
    transition: all .2s;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: rgb(221, 221, 221);
   }
   
.order:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: goldenrod;
    text-shadow: 1px 1px 1px black;
    border: solid 0.1rem white;
   }
   
.order:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
.order::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
.order::after {
    background-color: white;
   }
   
.order:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }


/*input para indicar la cantidad de productos a añadir al carrito*/
#cantidad {
    margin: 0.2rem;
    font-size: 1rem;
    border: solid 0.1rem grey;
    border-radius: 0.1rem;
    letter-spacing: 0.09rem;
    padding: 0.2em 0.1em;
    color: black;
    background-color: white;
    text-align: center;
    width: 5rem;
}

#cantidad:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: goldenrod;
    border: solid 0.1rem white;
    text-shadow: 1px 1px 1px black;
}


/*div para imagen y boton añadir carrito*/
.shoppingcart {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/*botón añadir al carrito carrito*/
.addcart {
    padding: 1em 1.5em;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    font-weight: 500;
    color: #000;
    background-color: rgb(221, 221, 221);
    border: solid 0.1rem grey;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
.addcart:hover {
    background-color: olivedrab;
    box-shadow: 0px 15px 20px rgba(85, 107, 47, 0.5);
    color: #fff;
    transform: translateY(-7px);
   }
   
.addcart:active {
    transform: translateY(-1px);
   }
